.nav-link:hover {
    display: block;
    border-bottom: 3px solid #0B3DC0;
    padding: 1px;
}

.jumbotron {
    background-color: cornflowerblue;
    background-size: cover;
    height: 470px;
    background-image: url("/assets/img/bb.jpeg");
}

.jumbotron .display-5 {
    color: white;
    margin-top: 80px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0, 6);
    font-size: 80px;
}

.main {
    margin-top: -100px;
    background-color: white;
    padding: 10px;
}

body {
    background-color: whitesmoke;
}